
.nav{
  background: linear-gradient(
    120deg,
    var(--clr-honey-500), 
    var(--clr-honey-300),
    var(--clr-honey-500)
  );
  background-size: 200% 400%;
  animation: navbar-gradient 10s ease infinite;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 4rem;


}

.search{
  & input{
    padding: var(--space-lg);
    width: 30vw;
    height: var(--space-2xl);
    border-radius: 50rem;
    outline: none;
    border: none;
    color: var(--clr-plum-600);
    font-size: var(--fs-md);
  }
}


.link{
  & ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:var(--space-xl);
    color:var(--clr-white);
    font-size: var(--fs-md);
  }

  & li {
    list-style: none;
    cursor: pointer;
  }

  & li:hover{
    color: var(--clr-sage-100);
  }
}

@keyframes navbar-gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}