.SignIn-card{
  background-color: var(--clr-white-t);
  padding: var(--space-2xl);
  border-radius: var(--space-xl);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  height: 30rem;
  width: min(30rem, 80vw);
  display:flex;
  flex-direction: column;
  align-items: center;


  & h1{
    color:var(--clr-plum-600);
    text-align: center;
    font-size: var(--fs-2xl);
    margin-bottom: var(--space-2xl);
  }


}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.ProviderContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

}