.testimonial{
  min-height: 80vh;

   background: linear-gradient(
    135deg,
    var(--clr-honey-300) 0%,
    var(--clr-honey-500) 50%,
    var(--clr-honey-300) 100%
  );

  background-size: 300%;
  background-position: 0% 50%;
  animation: testimonial-bg-pan 5s ease-in-out infinite;
}

@keyframes testimonial-bg-pan {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}