.AuthProviderButton {
  margin-top: var(--space-md);
  border: none;
  border-radius: .5rem;
  min-width: 7rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-earth-300);
  color: var(--clr-white);
  font-size: var(--fs-md);
  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover{
    background-color: var(--clr-earth-400);
  }

  &:active{
    background-color: var(--clr-earth-300);
  }
}