.AuthButton{
  margin-top: auto;
  border: none;
  border-radius: .5rem;
  width: 100%;
  height: 3rem;

  background-color: var(--clr-earth-300);
  color: var(--clr-white);
  font-size: var(--fs-md);
  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover{
    background-color: var(--clr-earth-400);
  }

  &:active{
    background-color: var(--clr-earth-300);
  }


}